In [ ]:
#import dependencies
import pandas as pd #dataframe
import numpy as np  #array methods

# Cleaning _new_ coal megawatts by country, year CSV file:

In [ ]:
filepath = 'data/new_coal_MW.csv'#from https://globalenergymonitor.org/projects/global-coal-plant-tracker/summary-data/
                                    #retrieved 2021-03-11

In [ ]:
filepath = 'data/new_coal_MW.csv'#from https://globalenergymonitor.org/projects/global-coal-plant-tracker/summary-data/
                                    #retrieved 2021-03-11

In [ ]:
df_new = pd.read_csv(filepath, header=3) #ignore the top 3 rows (zero index). headers are in row 4

In [ ]:
df_new.head() #checking the data for what needs to be cleaned

In [ ]:
df_new.tail(10)

In [ ]:
#Removing totals and subtotals
df_new.drop('Total 2000-2020', axis=1, inplace = True) #totals column

In [ ]:
df_new.drop(range(108,112), axis=0, inplace = True) #subtotal rows

In [ ]:
df_new.describe()  #checking for any NaN (null) intersections. 
                        #count = 108 across all columns.
                        #conclusion: no NaN intersection

In [ ]:
#un-pivoting data into a normalizable format
df = df_new.melt(id_vars = ['Country'], var_name='year', value_name='coal_mw_new')

In [ ]:
#wrap Country column name to lowercase for consistency
df.rename(columns = {'Country':'country'}, inplace=True)

In [ ]:
print(df.columns) #just checking

In [ ]:
len(df) #expecting 108*21 = 2268

In [ ]:
df.dtypes #checking data types

In [ ]:
#last column should be integer, appears to be numeric stored as string. Checking for any decimal values
int_column = ['coal_mw_new']
#checking for any decimal values
df.coal_mw_new.unique() #no floats found, so setting to integer. Numerics have commas that will need to be stripped

In [ ]:
df['coal_mw_new']=df['coal_mw_new'].str.replace(',','') #strip commas

In [ ]:
df['coal_mw_new'] = df['coal_mw_new'].astype(int) #cast values as int

In [ ]:
df['coal_mw_new'].sum() #expecting 1,399,262 as per grand total in source file. getting 1,399,269, which is off by 7. Treating delta as immaterial b/c on percentage basis is well below 0.00% (zero bps)

Note: double checking in Excel is feasible because rowcount<3,000. This step reveals that calculated Grand Total is more accurate. This probably reflects rounding errors in the totals and subtotals.

In [ ]:
df.to_csv('data/coal_new_transformed')

In [ ]:
df_new = pd.read_csv(filepath, header=3) #ignore the top 3 rows (zero index). headers are in row 4

In [ ]:
df_new.head() #checking the data for what needs to be cleaned

In [ ]:
df_new.tail(10)

In [ ]:
#Removing totals and subtotals
df_new.drop('Total 2000-2020', axis=1, inplace = True) #totals column

In [ ]:
df_new.drop(range(108,112), axis=0, inplace = True) #subtotal rows

In [ ]:
df_new

In [ ]:
#un-pivoting data into a normalizable format
df = df_new.melt(id_vars = ['Country'], var_name='year', value_name='coal_mw_new')

In [ ]:
#wrap Country column name to lowercase for consistency
df.rename(columns = {'Country':'country'}, inplace=True)

In [ ]:
print(df.columns) #just checking

In [ ]:
len(df) #expecting 108*21 = 2268

In [ ]:
df.dtypes #checking data types

In [ ]:
#last column should be integer, appears to be numeric stored as string. Checking for any decimal values
int_column = ['coal_mw_new']
#checking for any decimal values
df.coal_mw_new.unique() #no floats found, so setting to integer. Numerics have commas that will need to be stripped

In [ ]:
df['coal_mw_new']=df['coal_mw_new'].str.replace(',','') #strip commas

In [ ]:
df['coal_mw_new'] = df['coal_mw_new'].astype(int) #cast values as int

In [ ]:
df['coal_mw_new'].sum() #expecting 1,399,262 as per grand total in source file. getting 1,399,269, which is off by 7. Treating delta as immaterial b/c on percentage basis is well below 0.00% (zero bps)

Note: double checking in Excel is feasible because rowcount<3,000. This step reveals that calculated Grand Total is more accurate. This probably reflects rounding errors in the totals and subtotals.

In [ ]:
#Write result to csv for later use:
df.to_csv('data/coal_new_transformed')

# Cleaning _retired_ coal megawatts by country, year CSV file:

In [ ]:
filepath = 'data/retired_coal_MW.csv'#from https://globalenergymonitor.org/projects/global-coal-plant-tracker/summary-data/
                                        #retrieved 2021-03-11

In [ ]:
df_retired = pd.read_csv(filepath, header=3) #ignore the top 3 rows (zero index). headers are in row 4

In [ ]:
df_retired.head() #checking the data for what needs to be cleaned

In [ ]:
df_retired.columns

In [ ]:
df_retired.tail(10)  #suspecting subtotal and total rows at the bottom of dataframe

In [ ]:
#Removing totals and subtotals
cols_to_drop = ['Dated 2000-2020','All retired (includes dated and undated)']

df_retired.drop(cols_to_drop, axis=1, inplace = True) # subtotal and totals columns

In [ ]:
df_retired.drop(range(108,111), axis=0, inplace = True) #subtotal rows

In [ ]:
df_retired

In [ ]:
df_retired.describe()  #checking for any NaN (null) intersections. 
                        #count = 108 across all columns.
                        #conclusion: no NaN intersection

In [ ]:
#adding undated retired to year 2020. 
    #First need to convert numbers stored as string to numeric
        #check for decimals to ensure int works
        #remove commas in fields where value >= 1000
    #Second sum the two columns
#df_retired['2020_adjusted'] = df_retired['2020'] + df_retired['Undated']

In [ ]:
df_retired.dtypes #expecting all columns to be object (str)

In [ ]:
#Remove commas in data columns and cast result as int
#This didn't work out, error that there is no attribute str on dataframe
    #df_retired.iloc[:,1:].str.replace(',', '', axis=1).astype(int, inplace=True)
#need a list of columns excluding the first column, then loop through list and replace df_retired['col'] commas, then cast as int    
cols_to_convert = df_retired.columns[1:]

In [ ]:
for each_col in cols_to_convert:
    df_retired[each_col]=df_retired[each_col].str.replace(',','').astype(int)

In [ ]:
#combining 2020 and undated columns
df_retired['2020_adj'] = df_retired['2020']+df_retired['Undated']
df_retired.head() #checking for any emergent issues, none found

In [ ]:
#Dropping no longer needed columns
cols_to_drop = ['Undated', '2020']
df_retired.drop(cols_to_drop, inplace=True, axis=1)

In [ ]:
#un-pivoting data into a normalizable format
df = df_retired.melt(id_vars = ['Country'], var_name='year', value_name='coal_mw_retired')

In [ ]:
#wrap Country column name to lowercase for consistency
df.rename(columns = {'Country':'country'}, inplace=True)

In [ ]:
print(df.dtypes) #checking data types to spot datatype conflicts. None found.

In [ ]:
len(df) #expecting 108*21 = 2268

In [ ]:
df['coal_mw_retired'].sum() #expecting 383,026 as per grand total in source file. 
                            #getting 383,032, which is off by 6. Treating delta as immaterial b/c on percentage basis is well below 0.00% (zero bps)

Note: similar to the new capacity file, double checking in Excel is feasible because rowcount<3,000. This step reveals that calculated Grand Total is again more accurate. This probably reflects rounding errors in the totals and subtotals.

In [ ]:
len(df)

In [ ]:
#Write result to csv for later use:
df.to_csv('data/coal_retired_transformed.csv')