In [1]:
# Import dependencies
import pandas as pd

In [19]:
file_path='data/continents2.csv'
df = pd.read_csv(file_path)
df.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [20]:
df.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [23]:
# interested columns based on existing datasets and potential joins 
country_df=df[['name', 'alpha-2', 'alpha-3', 'country-code', 'region',
       'sub-region', 'region-code', 'sub-region-code']]

country_df.head()

,name,alpha-2,alpha-3,country-code,region,sub-region,region-code,sub-region-code
0,Afghanistan,AF,AFG,4,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,Oceania,Polynesia,9.0,61.0

In [24]:
len(country_df)

249

In [30]:
new_df=country_df.drop_duplicates()
len(new_df)
# did not drop null values b/c some may not be in sub-region

249

In [39]:
new_df['region'].unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas', nan],
      dtype=object)

In [40]:
new_df['sub-region'].unique()

array(['Southern Asia', 'Northern Europe', 'Southern Europe',
       'Northern Africa', 'Polynesia', 'Sub-Saharan Africa',
       'Latin America and the Caribbean', nan, 'Western Asia',
       'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
       'Northern America', 'South-eastern Asia', 'Eastern Asia',
       'Melanesia', 'Micronesia', 'Central Asia'], dtype=object)

In [32]:
new_df.to_csv('country_lookup.csv')