In [3]:
#import dependencies
import pandas as pd #dataframe
import numpy as np  #array methods

# Cleaning _new_ coal megawatts by country, year CSV file:

In [ ]:
filepath = 'data/new_coal_MW.csv'#from https://globalenergymonitor.org/projects/global-coal-plant-tracker/summary-data/
                                    #retrieved 2021-03-11

In [ ]:
df_new = pd.read_csv(filepath, header=3) #ignore the top 3 rows (zero index). headers are in row 4

In [ ]:
df_new.head() #checking the data for what needs to be cleaned

In [ ]:
df_new.tail(10)

In [ ]:
#Removing totals and subtotals
df_new.drop('Total 2000-2020', axis=1, inplace = True) #totals column

In [ ]:
df_new.drop(range(108,112), axis=0, inplace = True) #subtotal rows

In [ ]:
df_new

In [ ]:
#un-pivoting data into a normalizable format
df = df_new.melt(id_vars = ['Country'], var_name='year', value_name='coal_mw_new')

In [ ]:
#wrap Country column name to lowercase for consistency
df.rename(columns = {'Country':'country'}, inplace=True)

In [ ]:
print(df.columns) #just checking

In [ ]:
len(df) #expecting 108*21 = 2268

In [ ]:
df.dtypes #checking data types

In [ ]:
#last column should be integer, appears to be numeric stored as string. Checking for any decimal values
int_column = ['coal_mw_new']
#checking for any decimal values
df.coal_mw_new.unique() #no floats found, so setting to integer. Numerics have commas that will need to be stripped

In [ ]:
df['coal_mw_new']=df['coal_mw_new'].str.replace(',','') #strip commas

In [ ]:
df['coal_mw_new'] = df['coal_mw_new'].astype(int) #cast values as int

In [ ]:
df['coal_mw_new'].sum() #expecting 1,399,262 as per grand total in source file. getting 1,399,269, which is off by 7. Treating delta as immaterial b/c on percentage basis is well below 0.00% (zero bps)

Note: double checking in Excel is feasible because rowcount<3,000. This step reveals that calculated Grand Total is more accurate. This probably reflects rounding errors in the totals and subtotals.

In [ ]:
df.to_csv('data/coal_new_transformed')

# Cleaning _retired_ coal megawatts by country, year CSV file:

In [1]:
filepath = 'data/retired_coal_MW.csv'#from https://globalenergymonitor.org/projects/global-coal-plant-tracker/summary-data/
                                        #retrieved 2021-03-11

In [4]:
df_retired = pd.read_csv(filepath, header=3) #ignore the top 3 rows (zero index). headers are in row 4

In [5]:
df_retired.head() #checking the data for what needs to be cleaned

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,Undated,Dated 2000-2020,All retired (includes dated and undated)
0,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Argentina,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Australia,0,0,396,0,0,0,0,0,0,...,"1,301",590,760,"1,840",0,0,0,600,"6,407","7,007"
3,Austria,0,137,0,0,0,0,330,0,66,...,0,450,165,0,0,352,246,105,"1,993","2,098"
4,Bangladesh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_new.tail(10)

In [ ]:
#Removing totals and subtotals
df_new.drop('Total 2000-2020', axis=1, inplace = True) #totals column

In [ ]:
df_new.drop(range(108,112), axis=0, inplace = True) #subtotal rows

In [ ]:
df_new

In [ ]:
#un-pivoting data into a normalizable format
df = df_new.melt(id_vars = ['Country'], var_name='year', value_name='coal_mw_new')

In [ ]:
#wrap Country column name to lowercase for consistency
df.rename(columns = {'Country':'country'}, inplace=True)

In [ ]:
print(df.columns) #just checking

In [ ]:
len(df) #expecting 108*21 = 2268

In [ ]:
df.dtypes #checking data types

In [ ]:
#last column should be integer, appears to be numeric stored as string. Checking for any decimal values
int_column = ['coal_mw_new']
#checking for any decimal values
df.coal_mw_new.unique() #no floats found, so setting to integer. Numerics have commas that will need to be stripped

In [ ]:
df['coal_mw_new']=df['coal_mw_new'].str.replace(',','') #strip commas

In [ ]:
df['coal_mw_new'] = df['coal_mw_new'].astype(int) #cast values as int

In [ ]:
df['coal_mw_new'].sum() #expecting 1,399,262 as per grand total in source file. getting 1,399,269, which is off by 7. Treating delta as immaterial b/c on percentage basis is well below 0.00% (zero bps)

Note: double checking in Excel is feasible because rowcount<3,000. This step reveals that calculated Grand Total is more accurate. This probably reflects rounding errors in the totals and subtotals.

In [ ]:
df.to_csv('data/coal_new_transformed')