In [7]:
# Dependencies
from sqlalchemy import create_engine, inspect
import pandas as pd

In [8]:
# Connect to local pollution database 
db_connection_string = "postgresql://postgres:postgres@localhost:5432/pollution_db"
engine = create_engine(db_connection_string)

In [9]:
# Get table names
engine.table_names()

['coal_plants', 'country', 'air_quality', 'mortality_rates']

In [10]:
inspector = inspect(engine)

In [11]:
# Check column names for each table 
columns_1 = inspector.get_columns('country')
for c in columns_1:
    print(f'{c["name"]} - {c["type"]}')
    
print("-----"*5)

columns_2 = inspector.get_columns('air_quality')
for c in columns_2:
    print(f'{c["name"]} - {c["type"]}')

print("-----"*5)

columns_3 = inspector.get_columns('coal_plants')
for c in columns_3:
    print(f'{c["name"]} - {c["type"]}')
    
print("-----"*5)


columns_4 = inspector.get_columns('mortality_rates')
for c in columns_4:
    print(f'{c["name"]} - {c["type"]}')

country_id - INTEGER
name - VARCHAR
alpha_2 - VARCHAR
alpha_3 - VARCHAR
country_code - VARCHAR
region - VARCHAR
sub_region - VARCHAR
region_code - INTEGER
sub_region_code - INTEGER
-------------------------
alpha_3 - VARCHAR
year - INTEGER
value_pm - DOUBLE PRECISION
value_mr - DOUBLE PRECISION
value_co2 - DOUBLE PRECISION
value_nox - DOUBLE PRECISION
value_sox - DOUBLE PRECISION
-------------------------
country - VARCHAR(200)
alpha_3 - VARCHAR
year - INTEGER
mw_retired - INTEGER
mw_added - INTEGER
yearly_change - INTEGER
-------------------------
country - VARCHAR(200)
alpha_3 - VARCHAR
year - INTEGER
Outdoor particulate matter (deaths per 100,000) - DOUBLE PRECISION
Outdoor ozone pollution (deaths per 100,000) - DOUBLE PRECISION

In [36]:
# load all tables into database
file_path='country_lookup.csv'
country_df = pd.read_csv(file_path)

In [37]:
country_df.head()

,name,alpha_2,alpha_3,country_code,region,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,Asia,Southern Asia,142.0,34.0
1,Aland Islands,AX,ALA,248,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,Oceania,Polynesia,9.0,61.0

In [47]:
country_df.isna().sum()

name               0
alpha_2            1
alpha_3            0
country_code       0
region             1
sub_region         1
region_code        1
sub_region_code    1
dtype: int64

In [40]:
# make a connection into postgres database
rds_connection_string = "postgresql://postgres:postgres@localhost:5432/pollution_db"
engine = create_engine(rds_connection_string)

In [48]:
# import data into tables rather than manual
country_df.to_sql(name='country', con=engine, if_exists='append', index=False)